page-home {

    ion-title{
        //text-align: center;
        padding-left: 30%;
    }

    header, ion-navbar, ion-header, .header-ios, .header-ios .toolbar-ios:last-child .toolbar-background-ios
    {
        background: #f7d31b;
        color: #fff;
    }
    .toolbar-title-ios, .bar-button-default-ios, .bar-button-default.bar-button-ios-default, .bar-button-clear-ios-default
    {
        color: #fff;
    }
    .header{
        background: #36812b;
    }
    .main{
        background: #0f1f2e;
        background-repeat: repeat;
        background-size: 100% 100%;
        background-attachment: fixed;
        flex: 1;
        height: 100%;
    }
    .logo{
        //padding: 50px;
        padding-top: 15%;
        margin: 0 auto;
        width: 200px;
    }
    .img_logo
    {
        height: 200px;
        width: 200px;
        margin: 0 auto;
    }
    .btn_content
    {
        position: fixed;
        bottom: 20px;
        margin-right: auto;
        margin-left: auto;
    }
    .icon_btn
    {
        width: 100px;
        height: 100px;
        margin: 0 auto;
    }
    .col_btn{
        margin: 0 auto;
    }
}
