page-chi-tiet-luat {
    .main{
        background: #0f1f2e;
        background-repeat: repeat;
        background-size: 100% 100%;
        background-attachment: fixed;
        flex: 1;
        height: 100%;
        color: white;
    }
}
